<!DOCTYPE html>
<html lang="de">
  <head></head>
  <body>
    <p>
      <%= t("notifications.event-invitation-greeting", { userName: user.name ||
      user.email }) %>
    </p>

    <p>
      <%= t("notifications.event-invitation-intro", { eventTitle:
      `<strong>${title}</strong>` }) %>
    </p>

    <p>
      <strong>
        <%= t("notifications.event-invitation-datetime-label") %> </strong
      ><br />
      <%= t("notifications.event-invitation-datetime", { relativeTime:
      formatter.dateTimeRange( new Date(startTime), new Date(endTime), {
      dateStyle: "short" } ) }) %>
    </p>

    <p><%= t("notifications.event-invitation-online-info") %></p>
    <p><%= t("notifications.event-invitation-attachment-info") %></p>
    <p><%= t("notifications.event-invitation-outro") %></p>

    <p>
      <%= t("notifications.event-invitation-signoff") %><br />
      <%= t("notifications.event-invitation-team") %>
    </p>
  </body>
</html>
